<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ImageLoadDirectory" value="\\10.212.70.103\c$\Test\410-AutomatedImageLoadTesting\Test11"/>
		<add key="WorkspaceArtifactId" value="1020347"/>
		<add key="optFileAccessAccountUserNameForImpersonation" value="tlasso"/>
		<add key="optFileAccessAccountDomainNameForImpersonation" value="di.local"/>
		<add key="optFileAccessAccountPasswordForImpersonation" value="Test1234!"/>
		<add key="importUserName" value="relativity.admin@relativity.com"/>
		<add key="importPassword" value="Test1234!"/>
		<add key="importUrl" value="http://10.212.75.157/RelativityWebAPI"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
